In [10]:
import pandas as pd

train_data = pd.read_csv('./dataset/train_dataset.csv')
train_data.head(10)

   user_id  item_id
0        0      257
1        0      267
2        0     5555
3        0     3637
4        0     1795
5        0      866
6        0       46
7        0     2737
8        0     4690
9        0      237

In [11]:
unique_user_count = train_data['user_id'].nunique()
unique_id_count = train_data['item_id'].nunique()

print(f'用户总数: {unique_user_count}, id总数: {unique_id_count}')

用户总数: 53424, id总数: 10000

In [12]:
# 从数据集中随机抽取20%的数据作为验证集
val_data = train_data.sample(frac=0.2)
train_data = train_data.drop(val_data.index)

print(f'训练集大小: {train_data.shape[0]}, 验证集大小: {val_data.shape[0]}')

训练集大小: 4695705, 验证集大小: 1173926

In [13]:
# 保存数据集
train_data.to_csv('./dataset/train_data.csv', index=False)
val_data.to_csv('./dataset/val_data.csv', index=False)

In [14]:
train_data.head(10)

   user_id  item_id
0        0      257
1        0      267
2        0     5555
3        0     3637
4        0     1795
5        0      866
6        0       46
7        0     2737
8        0     4690
9        0      237